body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #111;
  color: #fff;
  margin: 0;
  padding: 0;
}
header {
  background-color: #222;
  padding: 2rem;
}
section {
  padding: 2rem;
}
a {
  color: #f90;
  text-decoration: none;
}
footer {
  background-color: #222;
  padding: 1rem;
}
